<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/feed.css">
</head>
<body>
  <%- include("nav-bar") %>

  <header>
    <h1>Pinterest Style Image Gallery</h1>
    <h2>with Responsive Navigation Bar</h2>
  </header> 


<div class="container">
  <div class="cards">
    <% posts.forEach(function(post){ %>
      <div class="card" style="width: 18rem;">
        <img src="/images/uploads/<%= post.image %>" 
             class="card-img-top clickable-img" 
             alt="post image"
             data-src="/images/uploads/<%= post.image %>">
        <div class="card-body">
          <h5 class="card-title"><%= post.imageText %></h5>
        </div>
      </div>
    <% }) %>
  </div>
</div>

<!-- Modal -->
<div id="imageModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="modalImg">
  <a id="downloadBtn" class="download-btn" download>Download</a>
</div>

  <!-- Popup for image preview -->
  <div class="popup" id="popup">
    <span class="close" onclick="closePopup()">&times;</span>
    <img id="popupImg" src="" alt="">
  </div>

  <script src="/javascripts/feed.js" ></script>
</body>
</html>