<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
</head>
<link rel="stylesheet" href="/stylesheets/style.css">
<body>
  
  <div class="container">
      <div class="content">
        <!--pinterest logo-->
        <img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="pin logo" class="img1" />
        <p class="header">Log in to see more</p>
        <% if(error.length>0){%>
        <p style="color: red;"><%=error%></p> 
        <%}%>
        <form action="/login" method="post">
           <input name="username" type="text" placeholder="UserName" class="detail" /><br />
           <input name="password" type="password" placeholder="Password" class="detail" />

           <input type="submit" class="btn int" value="LogIn My Account">
           
        </form>
        <hr/>
        <a href="/"> <p>Not on Pinterest? Sign Up</p></a>
       
        <footer>
          <p>
            By continuing, you agree to Pinterest's
            <b>Terms of Service, Privacy policy.</b>
          </p>
          <hr />
        </footer>
      </div>
    </div>
   

</body>
</html>