<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="/stylesheets/nav.css">
</head>
<body>
    <nav>
    <div class="logo">
      <a href="/feed">
      <img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="pin logo" class="img1" />
      </a>
    </div>
    <ul class="navLink">
      <li><a href="/feed">Feed</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="/profile">My Account</a></li>
      <li><a href="/logout" style="background:#e60023; color:#fff; padding:8px 15px; border-radius:5px; text-decoration:none; font-weight:bold;">Logout</a></li>
    </ul>
    <div class="lines">
      <div class="l1"></div>
      <div class="l2"></div>
      <div class="l3"></div>
    </div>
  </nav>
</body>
</html>